header{
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom : 3px solid darken($color-background, 1%);
    & .fa-arrow-left{
        position: absolute;
        left: 20px;
        top: 20px;
    }
    & img{
        height: 30px;
        padding: 10px;
        display: block;
        margin: auto;
    }
    & a{
        color: black;
    }
}
