.section-menu{
    background: $color-background;
    display: flex;
    flex-direction: column;
    &__header{
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    &__header img{
        width: 100%;
    }
    &__contenu{
        width: 100%;
        margin: auto;
        border-radius: $border-radius $border-radius 0 0;
        transform: translateY(-20px);
        background: $color-background;
        z-index: 2;
        display: flex;
        flex-direction: column;
    }
    &__contenu h1{
    font-family: $typo-titre;
    width: 95%;
    margin: auto;
    padding: 20px 0;
    }
    &__contenu button{
    @include button;
    width: 150px;
    font-size: 1em;
    font-weight: 500;
    align-self: center;

    }
}
.conteneur-entrees-plats-dessert{
    display: flex;
    flex-direction: column; /* à changer pour la version desk*/
    align-items: center; /* à changer pour la version desk*/
}
.carte-menu{
    width: 95%;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h3{
        text-transform: uppercase;
        font-weight: 300;
        margin: 0 0 3px 0;
    }
    & hr{
        width: 50px;
        height: 3px;
        border: none;
        background-color: $color-tertiary;
        margin: 0;
    }
    &__item{
        height: 70px;
        background: white;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        position: relative;
        & .prix{
            overflow: hidden;
            font-size: 1em;
            font-weight: 500;
            margin: 0;
            position: absolute;
            right: 20px;
            bottom: 15px;
        }
        &__plats{
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &__check-conteneur{
            width: 20%;
            height: 70px;
            border-radius: 0 $border-radius $border-radius 0;
            background: transparent;
            z-index: 2;
            overflow: hidden;
        }
        &__check{
            overflow: hidden;
            height: 70px;
            color: white;
            text-align: center;
            line-height: 70px;
            background: $color-tertiary;
            border-radius: 0 $border-radius $border-radius 0;
        }
        &__check span{
            line-height: 70px;
        }
    }
    &__item h4{
        font-size: 1.2em;
        font-weight: 500;
        margin: 0;
    }
    &__item p{
        font-size: 0.9em;
        font-weight: 300;
        margin: 0;
    }


}