@charset "UTF-8";
/* ________Couleurs____________________________________________________ */
/* ________Typo________________________________________________________ */
/* ________Angles arrondis_____________________________________________ */
/* ________Ombres______________________________________________________ */
/* ______________________          Animation au surol des coeurs :         ____________________________ */
.carte-restaurant__heart .fa-heart-plein {
  /* ________pour dégradé de couleur sur du texte___________ */
  background: -webkit-linear-gradient(top, #9356DC 30%, #FF79DA 70%);
  -webkit-background-clip: text;
  color: transparent;
  display: block;
  opacity: 0;
  transform: scale(1);
  transform: scale(1);
  transition: opacity 400ms, transform 400ms;
}
.carte-restaurant__heart .fa-heart-plein:hover {
  opacity: 1;
  transform: scale(1.07);
}
.carte-restaurant__heart .fa-heart-contour {
  opacity: 1;
  transition: opacity 250ms;
}

/* ______________________          Animation au surol des boutons :         ____________________________ */
button {
  position: relative;
  z-index: 1;
}
button:hover::after {
  opacity: 1;
}
button::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms;
}

/* ______________________          Animation au survol des bloc-fonctionnement en page d'accueil           ____________________________ */
.bloc-fonctionnement li:hover {
  background-color: rgba(147, 86, 220, 0.15);
}

/* ______________________          Animation au survol du prix des plats          ____________________________ */
.carte-menu__item__check {
  transform: translate(100%);
  transition: transform 500ms;
}
.carte-menu__item:hover .carte-menu__item__check {
  transform: translate(0);
}
.carte-menu__item__check .fa-check-circle {
  transform: rotate(0);
  transition: transform 500ms;
}
.carte-menu__item:hover .fa-check-circle {
  transform: rotate(360deg);
}
.carte-menu__item__plats {
  width: 80%;
  transition: width 500ms;
}
.carte-menu__item:hover .carte-menu__item__plats {
  width: 65%;
}
.carte-menu__item .prix {
  width: 10%;
  transform: translateX(0);
  transition: transform 500ms;
}
.carte-menu__item:hover .prix {
  transform: translateX(-140%);
}

/* ______________________          Animation au chargement, arrivée des plats          ____________________________ */
@keyframes arrivée-des-plats {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.carte-menu__item:nth-child(2) {
  animation: arrivée-des-plats 700ms 100ms;
  animation-fill-mode: backwards;
}
.carte-menu__item:nth-child(3) {
  animation: arrivée-des-plats 700ms 400ms;
  animation-fill-mode: backwards;
}
.carte-menu__item:nth-child(4) {
  animation: arrivée-des-plats 700ms 700ms;
  animation-fill-mode: backwards;
}
.carte-menu__item:nth-child(5) {
  animation: arrivée-des-plats 700ms 1000ms;
  animation-fill-mode: backwards;
}

/* ______________________          Animation du loader         ____________________________ */
@keyframes loader-primary {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@keyframes loader-secondary {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-720deg);
  }
}
@keyframes loader-tertiary {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes loader-opacity {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.loader-contenu {
  position: relative;
  margin: auto;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #353535;
  animation: loader-opacity 3000ms;
}
.loader__logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
}
.loader__logo h3 {
  margin: 0;
  font-family: Shrikhand, cursive;
  font-size: 1.5em;
}
.loader__quart-color-primary {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: transparent solid 8px;
  border-top-color: #9356DC;
  animation: loader-primary 3000ms linear;
}
.loader__quart-color-secondary {
  position: absolute;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: transparent solid 8px;
  border-top-color: #FF79DA;
  animation: loader-secondary 3000ms linear;
}
.loader__quart-color-tertiary {
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  border: transparent solid 8px;
  border-top-color: #99E2D0;
  animation: loader-tertiary 3000ms linear;
}

.bloc-recherche {
  background: #f1efef;
  text-align: center;
}
.bloc-recherche__partie-formulaire {
  background: #eae7e7;
}
.bloc-recherche__partie-formulaire input {
  width: 110px;
  height: 50px;
  border: none;
  background: #eae7e7;
}
.bloc-recherche__partie-explorez button {
  border: none;
  padding: 10px 20px 10px 20px;
  margin: 20px;
  border-radius: 30px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.bloc-fonctionnement {
  width: 90%;
  margin: auto;
}
.bloc-fonctionnement ol {
  display: block;
  margin: auto;
  padding: 0;
}
.bloc-fonctionnement li {
  position: relative;
  list-style-type: none;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.bloc-fonctionnement .fas {
  color: grey;
  margin: 0 20px 0 20px;
}
.bloc-fonctionnement .fa-mobile-alt {
  margin-right: 28px;
}
.bloc-fonctionnement .fa-list {
  margin-right: 25px;
}
.bloc-fonctionnement span {
  position: absolute;
  left: -8px;
  top: 16px;
  color: white;
  background: #9356DC;
  padding: 3px 8px 3px 8px;
  border-radius: 20px;
}

/* _______________________________section-restaurants_______________________________ */
.section-restaurants {
  width: 100%;
  height: 1400px;
  background: #f1efef;
}
.section-restaurants h3 {
  width: 90%;
  height: 40px;
  margin: auto;
  padding-top: 30px;
}
.section-restaurants__conteneur {
  width: 100%;
  height: 1250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.section-restaurants a {
  color: black;
}

.carte-restaurant {
  width: 90%;
  height: 300px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}
.carte-restaurant__img {
  width: 100%;
  height: 75%;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: relative;
}
.carte-restaurant__img img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carte-restaurant__img .nouveau {
  position: absolute;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #278870;
  font-weight: 500;
  z-index: 2;
  top: 20px;
  right: 20px;
  border-radius: 3px;
  background: #99E2D0;
}
.carte-restaurant__contenu {
  width: 95%;
  height: 25%;
  line-height: 25px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carte-restaurant__contenu h4 {
  margin: 0;
}
.carte-restaurant__contenu address {
  font-style: normal;
  font-weight: 400;
}
.carte-restaurant adress {
  text-decoration: none;
}
.carte-restaurant__heart .fa-heart-contour {
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 1.4em;
}
.carte-restaurant__heart .fa-heart-plein {
  position: absolute;
  right: 9px;
  bottom: 19px;
  font-size: 1.5em;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  /* pour enlever la mise en forme des liens */
}

.bloc-recherche__partie-explorez h2 {
  font-weight: 300;
  font-size: 1em;
}

.footer {
  color: white;
}
.footer__contenu h4 {
  font-family: Shrikhand, cursive;
  font-size: 1.2em;
}
.footer a {
  color: white;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #efecec;
}
header .fa-arrow-left {
  position: absolute;
  left: 20px;
  top: 20px;
}
header img {
  height: 30px;
  padding: 10px;
  display: block;
  margin: auto;
}
header a {
  color: black;
}

.footer {
  background: #353535;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.footer__contenu {
  width: 90%;
}
.footer ul {
  list-style-type: none;
  padding: 0;
  line-height: 25px;
}
.footer .fas {
  margin-right: 10px;
}
.footer .fa-hands-helping {
  font-size: 0.65em;
}

.section-menu {
  background: #f1efef;
  display: flex;
  flex-direction: column;
}
.section-menu__header {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.section-menu__header img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section-menu__contenu {
  width: 100%;
  margin: auto;
  border-radius: 20px 20px 0 0;
  transform: translateY(-20px);
  background: #f1efef;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.section-menu__contenu h1 {
  font-family: Shrikhand, cursive;
  width: 95%;
  margin: auto;
  padding: 20px 0;
}
.section-menu__contenu button {
  border: none;
  padding: 10px 20px 10px 20px;
  margin: 20px;
  border-radius: 30px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  width: 150px;
  font-size: 1em;
  font-weight: 500;
  align-self: center;
}

.conteneur-entrees-plats-dessert {
  display: flex;
  flex-direction: column;
  /* à changer pour la version desk*/
  align-items: center;
  /* à changer pour la version desk*/
}

.carte-menu {
  width: 95%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carte-menu h3 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 3px 0;
}
.carte-menu hr {
  width: 50px;
  height: 3px;
  border: none;
  background-color: #99E2D0;
  margin: 0 0 15px 0;
}
.carte-menu__item {
  height: 70px;
  margin: 5px 0px;
  background: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* pour ajouter "..." quand le texte est coupé :
  ne fonctionne que si le texte est en une seule ligne    */
}
.carte-menu__item .prix {
  overflow: hidden;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  position: absolute;
  right: 20px;
  bottom: 15px;
}
.carte-menu__item__plats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.carte-menu__item__plats h4, .carte-menu__item p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte-menu__item__check-conteneur {
  width: 20%;
  height: 70px;
  border-radius: 0 20px 20px 0;
  background: transparent;
  z-index: 2;
  overflow: hidden;
}
.carte-menu__item__check {
  overflow: hidden;
  height: 70px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #99E2D0;
  border-radius: 0 20px 20px 0;
}
.carte-menu__item__check span {
  line-height: 70px;
}
.carte-menu__item h4 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
}
.carte-menu__item p {
  font-size: 0.9em;
  font-weight: 300;
  margin: 0;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .section-menu {
    flex-direction: row-reverse;
  }
  .section-menu__header {
    height: auto;
    width: 100%;
  }
  .section-menu__header img {
    height: 100%;
    width: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .section-menu__contenu {
    transform: translateY(0);
  }

  .bloc-fonctionnement ol {
    width: 400px;
  }
}
@media screen and (min-width: 1000px) {
  /* _______________________        page d'accueil        _________________________ */
  .section-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    background-color: #f1efef;
  }

  .bloc-recherche {
    width: 50%;
    text-align: left;
    font-size: 1.3em;
    margin-top: 20px;
  }
  .bloc-recherche br {
    display: none;
  }
  .bloc-recherche button {
    margin-left: 0;
  }
  .bloc-recherche__partie-formulaire {
    background: white;
    padding: 0 10px;
    border-radius: 20px;
    width: 40%;
  }
  .bloc-recherche__partie-formulaire input {
    background: white;
  }

  .bloc-fonctionnement {
    width: 40%;
    margin: 0;
    background: white;
    border-radius: 20px;
    margin-top: 20px;
  }
  .bloc-fonctionnement h3 {
    margin: 20px;
    font-size: 1.2em;
  }
  .bloc-fonctionnement ol {
    margin: 0 20px;
  }

  .section-restaurants {
    height: 430px;
  }
  .section-restaurants__conteneur {
    flex-direction: row;
    justify-content: space-between;
    height: 320px;
    width: 95%;
    margin: auto;
  }

  .carte-restaurant {
    width: 23%;
  }
  .carte-restaurant__img img {
    height: 100%;
    width: auto;
  }

  /* _______________________        pages restaurant        _________________________ */
  .section-menu__header {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-menu__header img {
    display: block;
  }

  .conteneur-entrees-plats-dessert {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .carte-menu {
    width: 30%;
  }
}
@media screen and (min-width: 1260px) {
  .carte-restaurant:nth-child(2) img {
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width: px) {
  .carte-restaurant:nth-child(1) img {
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .carte-restaurant:nth-child(3) img, .carte-restaurant:nth-child(1) img, .carte-restaurant:nth-child(4) img {
    height: auto;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
