.carte-restaurant{
    &__contenu .fa-heart-plein{
        /* ________pour dégradé de couleur sur du texte_____________________________________________ */
        background:-webkit-linear-gradient(top, $color-primary 30%, $color-secondary 70%);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
        display: block;
        opacity: 0;
        transition: opacity 500ms;
    }
    &__contenu:hover .fa-heart-plein{
        opacity: 1;
    }
    &__contenu .fa-heart-contour{
        opacity: 1;
        transition: opacity 300ms;
    }
    &__contenu:hover .fa-heart-contour{
        opacity: 0;
    }

}