/* ______________________          Animation au surol des coeurs :         ____________________________ */

.carte-restaurant{
    &__heart .fa-heart-plein{
    /* ________pour dégradé de couleur sur du texte___________ */
    background:-webkit-linear-gradient(top, $color-primary 30%, $color-secondary 70%);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    display: block;
    opacity: 0;
    transform : scale(1);
    transition: opacity 400ms, transform 400ms;
    }
    &__heart .fa-heart-plein:hover{
        opacity: 1;
        transform: scale(1.07);
    }
    &__heart .fa-heart-contour{
        opacity: 1;
        transition: opacity 250ms;
    }
    &__heart .fa-heart-plein:hover .fa-heart-contour{
        opacity: 0;
    }
}
/* ______________________          Animation au surol des boutons :         ____________________________ */

button{
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;}
    }
    &::after{
        content: "";
        position: absolute;
        border-radius: $border-radius;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(lighten($color-secondary,5), lighten($color-primary,5));
        box-shadow: $box-shadow-survol;
        z-index: -1;
        opacity: 0;
        transition: opacity 250ms;
    }
}
/* ______________________          Animation au surol des bloc-fonctionnement en page d'accueil           ____________________________ */

.bloc-fonctionnement{
    & li:hover{
        background-color: rgba($color-primary, 0.15);
    }
}

/* ______________________          Animation au surol du prix des plats          ____________________________ */

.carte-menu{
    &__item__check{
        transform: translate(100%);
        transition: transform 500ms;
        }
    &__item:hover .carte-menu__item__check{
        transform: translate(0);
    }
    &__item__check .fa-check-circle{
        transform: rotate(0);
        transition: transform 500ms;
    }
    &__item:hover .fa-check-circle{
        transform: rotate(360deg);
    }

    &__item__plats{
        width: 80%;
        transition: width 500ms;
    }
    &__item:hover .carte-menu__item__plats{
        width: 65%;
    }

    &__item .prix{
        width: 10%;
        transform : translateX(0);
        transition : transform 500ms;
    }
    &__item:hover .prix{
        transform : translateX(-140%)
    }
}
/* ______________________          Animation au chargement, arrivée des plats          ____________________________ */

@keyframes arrivée-des-plats{
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.carte-menu{
    &__item:nth-child(2){
        animation: arrivée-des-plats 700ms 100ms;
        animation-fill-mode: backwards;
    }
    &__item:nth-child(3){
        animation: arrivée-des-plats 700ms 400ms;
        animation-fill-mode: backwards;
    }
    &__item:nth-child(4){
        animation: arrivée-des-plats 700ms 700ms;
        animation-fill-mode: backwards;
    }
}
/* ______________________          Animation du loader         ____________________________ */

@keyframes loader-primary{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360*3deg);
    }
}
@keyframes loader-secondary{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360*2deg);
    }
}
@keyframes loader-tertiary{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360*2deg);
    }
}
@keyframes loader-opacity{
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

.loader-contenu{
    position : relative;
    margin : auto;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $color-background-footer;
    animation: loader-opacity 3000ms;
    &__logo{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        position: absolute;
    }
    &__logo h3{
        margin: 0;
        font-family: $typo-titre;
        font-size: 1.5em;
    }
    &__quart-color-primary{
        position: absolute;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: transparent solid 8px;
        border-top-color: $color-primary;
        animation: loader-primary 3000ms linear;
    }
    &__quart-color-secondary{
        position: absolute;
        height: 180px;
        width: 180px;
        border-radius: 50%;
        border: transparent solid 8px;
        border-top-color: $color-secondary;
        animation: loader-secondary 3000ms linear;

    }
    &__quart-color-tertiary{
        position: absolute;
        height: 210px;
        width: 210px;
        border-radius: 50%;
        border: transparent solid 8px;
        border-top-color: $color-tertiary;
        animation: loader-tertiary 3000ms linear;

    }
}
